<a href="https://colab.research.google.com/github/FelipeTufaile/PADSW06MDCD/blob/main/20220730_Olist_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING LIBRARIES

In [2]:
import pandas as pd

In [17]:
## Reading Olist datasets
df_customer =       pd.read_csv('https://raw.githubusercontent.com/FelipeTufaile/PADSW06MDCD/main/olist_customers_dataset.csv')
df_order_items =    pd.read_csv('https://raw.githubusercontent.com/FelipeTufaile/PADSW06MDCD/main/olist_order_items_dataset.csv')
df_order_payments = pd.read_csv('https://raw.githubusercontent.com/FelipeTufaile/PADSW06MDCD/main/olist_order_payments_dataset.csv')
df_order_reviews =  pd.read_csv('https://raw.githubusercontent.com/FelipeTufaile/PADSW06MDCD/main/olist_order_reviews_dataset.csv')
df_orders =         pd.read_csv('https://raw.githubusercontent.com/FelipeTufaile/PADSW06MDCD/main/olist_orders_dataset.csv')
df_products =       pd.read_csv('https://raw.githubusercontent.com/FelipeTufaile/PADSW06MDCD/main/olist_products_dataset.csv')
df_sellers =        pd.read_csv('https://raw.githubusercontent.com/FelipeTufaile/PADSW06MDCD/main/olist_sellers_dataset.csv')

In [19]:
## Describing the dataset
df_orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [20]:
## Printing missing values
df_orders.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [24]:
## Understanding types of orders and frequencies
df_orders[['order_status']].value_counts()

order_status
delivered       96478
shipped          1107
canceled          625
unavailable       609
invoiced          314
processing        301
created             5
approved            2
dtype: int64