<a href="https://colab.research.google.com/github/FelipeTufaile/PADSW06MDCD/blob/main/20220729_Revisao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Revisão Rápida - Python

## **Antes de começarmos**

1. Crie uma conta no GitHub: https://github.com/signup?source=login ou caso já tenha uma conta, faça a autenticação do seu usuário.
2. Crie um repositório para utilizarmos durante as aulas. Este repositório precisa ter um arquivo "README", logo, marque a opção **"Add a README file"**.
3. O nome pode do seu repositório pode ser **PADSW06MDCD**, por exemplo.
4. Nesta Janela (que estamos agora), clique em Arquivo > Salvar uma Cópia no GitHub
5. Em seguida, duas coisas podem acontecer (i) um **popup aparecer**: solicitando que você autorize o acesso ao seu **GitHub** por sua conta do **Colab** ou (ii) caso apareça alguma mensagem de erro, clique em "Abrir em uma nova janela".
6. Em ambos os casos: autorize o acesso a sua conta do **GitHub**
7. Por fim, escolha o repositório criado anteriormente e digite um comentário que represente a versão do seu projeto. Neste caso, pode ser. "Copiando a lista de revisão".


- Google Colab
    - colab.research.google.com/

#### Sintáxe Básica Markdown

[Material Aqui](https://www.markdownguide.org/basic-syntax/)

Dicas Básicas de Sintáxe

- Não utiliza ;
- comentários podem ser feitos utilizando #
- Variáveis precisam ser inicializada antes de seu uso
- Podemos utilizar variáveis literais ou objetos
- operações matemáticas básicas: + - / * ** %
- Valor nulo é escrito como **None**
- Blocos de códigos ou funções devem ter sempre *identação* ou seja, devem ter um tab para medir cada escopo
- Blocos vazios devem conter pelo menos um comando **pass**
- Saídas de dados podem ser feitas em sua maioria com o comando **print**, no entanto, saídas mais complexas funcionam sempre com **display**
- Python possui tipagem

### Variáveis/Objetos

- Crie um conjunto de variáveis para cada um dos tipos: número inteiro, string, booleano e número real
- Exiba o conteúdo de uma destas variáveis e exiba o tipo de outra variável

In [ ]:
#@title Ver exemplo
numero_vendas = 23000
nome_disciplina = 'Métodos de Design para Ciência de Dados'
nome_instituicao = "Insper"
possui_diploma = True
receita_bruta = 312312.24

print(receita_bruta) #Saída de Dados
print(type(possui_diploma)) #como verificar o tipo de dado | pode utilizar display () também

In [1]:
# Creating an integer variable
integer = 1

# Creating a string variable
string = 'a'

# Creating a boolean
boolean = True

# Creating a real number
real = 1.1

In [2]:
# Printing the content of "integer"
print(integer)

1

In [4]:
# Printing the type of "integer"
print(type(integer))

<class 'int'>

### Entrada e Saída de Dados

- Realize a leitura de um dado do tipo String e exiba este texto apenas com letras maísculas

Dica.: Métodos de uma String em Python
https://www.w3schools.com/python/python_ref_string.asp

In [ ]:
#@title Ver exemplo
nome_usuario = input('Insira um nome aqui:') #para ler dados do usuário
print('Nome com letras maísculas: ', nome_usuario.upper()) #printando nome e mostrando tudo em letra maiúscula

In [5]:
value_from_user = input("Please, insert your sentence here")
print(value_from_user.upper())

Please, insert your sentence hereI am so hungry!
I AM SO HUNGRY!

- Realize a leitura de um dado do tipo inteiro, alocaondo-o em uma variável e exiba o conteúdo desta variável no meio de um texto.

In [ ]:
#@title Ver exemplo
idade_usuario = int(input("Informe sua idade: ")) #lembrar de fazer um casting para o tipo de dado
print(f'Você possuí {idade_usuario} de idade')

In [6]:
value_from_user_integer = input("Please insert an integer of your choice: ")
print(f'The value you inserted, {value_from_user_integer}, is valid')

Please insert an integer of your choice: 12
The value you inserted, 12, is valid

- Crie um par de constantes reais e exiba o resultado de uma operação matemática, utilizando estas constantes em uma saída de dados (utilizando print). Após isso, garanta que o resultado do cálculo tenha apenas duas casas decimáis.

In [ ]:
#@title Ver exemplo
pi = 3.1415926535
salario = 15341.14
print('O novo salário: R${0:.2f}, após o aumento, é de: R${1:.2f}'.format(salario, salario * pi)) #outra forma de utilizar variáveis com dados

In [9]:
cst_01 = 1.2
cst_02 = 1.5
result = cst_01*cst_02

print("The result of the multiplication of the two real values is: {0:.2f}. Was that the value you were expecting {1:.2f}?".format(result, result))

The result of the multiplication of the two real values is: 1.80. Was that the value you were expecting 1.80?

### Operações com String

- Armazene um e-mail em uma variável, por exemplo, homer@simpson.com e separe o nome do usuário {homer} do serviço de e-mail {simpson}

In [ ]:
#@title Ver exemplo
texto_complexo = 'homer@simpson.com'

usuario = texto_complexo.split('@')[0] #operações com String (split gera uma lista de dados)
dominio = texto_complexo.split('@')[1].split('.')[0]

print("Usuário: {0} - Domínio: {1}".format(usuario, dominio))

In [8]:
email = 'homer@simpson.com'
email.split('@')[0]

'homer'

- Crie uma lista contendo os dados
['São Paulo - SP', 'Itajaí - SC', 'Rio de Janeiro - RJ']
- Após isso, exiba apenas os estados de cada cidade.

In [ ]:
#@title Ver exemplo
lista_textos = ['São Paulo - SP', 'Itajaí - SC', 'Rio de Janeiro - RJ']

for um_texto in lista_textos:
    print(um_texto.split('-')[1].split('|')[0])

In [10]:
list_cities = ['São Paulo - SP', 'Itajaí - SC', 'Rio de Janeiro - RJ']

for city in list_cities:
  print(city.split(' - ')[1])

SP
SC
RJ

### Coleções
#### Listas

Explore a documentação da coleção do tipo List https://www.w3schools.com/python/python_ref_list.asp e demonstre o uso de alguns destes métodos.

In [ ]:
#@title Ver exemplo
nome1 = 'Luiz Durão' #variável de texto (str)
nome2 = 'André Santana'

lista_jamais_utilizada = []
lista_nomes = [nome1, 'Matheus', 'Caio']
lista_nomes.append('Ana') #anexa um elemento ao final da lista que invoca o método
lista_nomes.append(nome2)

lista_nomes_pool = ['José','Abner' ,'Luiza']
lista_nomes.extend(lista_nomes_pool) #anexa uma lista ao final da lista que invoca o método

print(lista_nomes[4])
print(lista_nomes)

lista_nomes.sort() #ordenar
#print('Lista Ordenada: ', lista_nomes)
lista_nomes.clear() #apagar
#print('Lista vazia: ',lista_nomes)

In [12]:
#@title Ver exemplo
nome1 = 'Luiz Durão' #variável de texto (str)
nome2 = 'André Santana'

lista_jamais_utilizada = []
lista_nomes = [nome1, 'Matheus', 'Caio']
lista_nomes.append('Ana') #anexa um elemento ao final da lista que invoca o método
lista_nomes.append(nome2)

lista_nomes_pool = ['José','Abner' ,'Luiza']
lista_nomes.extend(lista_nomes_pool) #anexa uma lista ao final da lista que invoca o método

print(lista_nomes[4])
print(lista_nomes)

#lista_nomes.sort() #ordenar
#print('Lista Ordenada: ', lista_nomes)
#lista_nomes.clear() #apagar
#print('Lista vazia: ',lista_nomes)

André Santana
['Luiz Durão', 'Matheus', 'Caio', 'Ana', 'André Santana', 'José', 'Abner', 'Luiza']

#### Estrutura de Repetição

- Utilize um laço de repetição para exibir os nomes da lista criada no exemplo anterior.

In [ ]:
#@title Ver exemplo
for um_nome in lista_nomes:
    print(um_nome)

In [13]:
for name in lista_nomes:
  print(name)

Luiz Durão
Matheus
Caio
Ana
André Santana
José
Abner
Luiza

#### Dicionários

- Dicionário é uma coleção não-ordenada, mutável e indexada. Em python, utilizamos { } para sua criação e tratamos sempre de pares de chaves e valores.
- Os elementos podem ser acessados com [] informado a chave desejada.
- Explore as operações de um dicionário: crie um dicionário, adicione uma nova chave, altere o conteúdo de uma chave, exiba as chaves e valores do dicionário e utilize um laço de repetição para mostrar apenas os valores deste dicionário (sem as chaves).

In [ ]:
#@title Ver exemplo
dicionario_homer = {'nome':'Homer', 'sobre_nome': 'Simpson', 'idade':39, 'cidade_natal':'Springfield'}
print('\nDicionário\n',dicionario_homer)

dicionario_homer['nome'] = 'Homer Jay' #para mudar um valor de uma chave ou criar uma nova chave
 
print('\nNome = ', dicionario_homer['nome'])

#exibindo as chaves do dicionário como uma lista
print('\n',dicionario_homer.keys())

#exibindo os valores no dicionário como uma lista
print('\n',dicionario_homer.values(), '\n')

#para remover um item
dicionario_homer.pop('nome')

#percorrendo o dicinionário, "iterando as chaves"
for chave in dicionario_homer.values():
    print(chave)

In [14]:
#@title Ver exemplo
dicionario_homer = {'nome':'Homer', 'sobre_nome': 'Simpson', 'idade':39, 'cidade_natal':'Springfield'}
print('\nDicionário\n',dicionario_homer)

dicionario_homer['nome'] = 'Homer Jay' #para mudar um valor de uma chave ou criar uma nova chave
 
print('\nNome = ', dicionario_homer['nome'])

#exibindo as chaves do dicionário como uma lista
print('\n',dicionario_homer.keys())

#exibindo os valores no dicionário como uma lista
print('\n',dicionario_homer.values(), '\n')

#para remover um item
dicionario_homer.pop('nome')

#percorrendo o dicinionário, "iterando as chaves"
for chave in dicionario_homer.values():
    print(chave)

Dicionário
 {'nome': 'Homer', 'sobre_nome': 'Simpson', 'idade': 39, 'cidade_natal': 'Springfield'}

Nome =  Homer Jay

 dict_keys(['nome', 'sobre_nome', 'idade', 'cidade_natal'])

 dict_values(['Homer Jay', 'Simpson', 39, 'Springfield'])

Simpson
39
Springfield

### Métodos & Subrotinas
**Criando "Procedimentos/Subrotinas"**

- Crie um conjunto de funções com e sem parâmetros, com e sem retorno

In [ ]:
#@title Ver exemplo
def retornarNomeAleatorio() -> str:
    return "Rick"

def exibirSaudacaoNome(nome : str) -> None:
    print('Olá,', nome)

def somarDoisNumeros(numero1, numero2):
    return numero1 + numero2

def calcularPotencia(base, expoente):
    return base ** expoente

def separarEstadoCidade(textoCompleto):
    resultado = textoCompleto.split('-')
    return resultado

In [21]:
#@title Ver exemplo
def retornarNomeAleatorio() -> str:
    return "Rick"

def exibirSaudacaoNome(nome : str) -> None:
    print('Olá,', nome)

def somarDoisNumeros(numero1, numero2):
    return numero1 + numero2

def calcularPotencia(base, expoente):
    return base ** expoente

def separarEstadoCidade(textoCompleto):
    resultado = textoCompleto.split('-')
    return resultado

In [20]:
type(retornarNomeAleatorio)

function

**Como utilizar os métodos criados**

- Inicialmente, você deve cria-los em alguma célula e "executar" estes procedimentos antes do seu uso.
- Em sequência, você deve chamar o método na célula em que deseja utiliza-lo, atentado-se ao nome do método, aos parâmetros enviados (quantidade e ordem) e se este método retornará ou não alguma resposta.

In [ ]:
#@title Ver exemplo
n1 = 'Homer'
exibirSaudacaoNome(n1) #podemos utilizar uma variável
exibirSaudacaoNome('Simpson') #ou envir um valor diretamente

result = somarDoisNumeros(3,5) #podemos retornar e armazenar o resultado em uma variável
print(somarDoisNumeros(13, 21)) #ou pegar seu retorno e diretamente "printar na tela"

base = 2
exp = 8
print(calcularPotencia(base, 5)) #a variavel pode ter o mesmo nome la da função original
print(calcularPotencia(base, exp)) #ou pode ter um nome diferente!

print(separarEstadoCidade('São Paulo - SP')) #mas fique atento, a função depende de suas regras pra funcionar
#print(separarEstadoCidade('São Paulo | SP')) #descomente o primeiro # desta linha para ver o que acontece!

In [22]:
#@title Ver exemplo
n1 = 'Homer'
exibirSaudacaoNome(n1) #podemos utilizar uma variável
exibirSaudacaoNome('Simpson') #ou envir um valor diretamente

result = somarDoisNumeros(3,5) #podemos retornar e armazenar o resultado em uma variável
print(somarDoisNumeros(13, 21)) #ou pegar seu retorno e diretamente "printar na tela"

base = 2
exp = 8
print(calcularPotencia(base, 5)) #a variavel pode ter o mesmo nome la da função original
print(calcularPotencia(base, exp)) #ou pode ter um nome diferente!

print(separarEstadoCidade('São Paulo - SP')) #mas fique atento, a função depende de suas regras pra funcionar
#print(separarEstadoCidade('São Paulo | SP')) #descomente o primeiro # desta linha para ver o que acontece!

Olá, Homer
Olá, Simpson
34
32
256
['São Paulo ', ' SP']

### Bibliotecas - Estatística (Pandas)

1. Importe a biblioteca pandas (caso necessário, instale com: pip install pandas)
2. Coloque seu conjunto de dados no mesmo diretório em que seu notebook foi criado
2. Utilize pd.**read_excel**('nome.extensao') para ler planilhas do excel e pd.**read_csv**('nome.extensao') para ler arquivos csv

Links Rápidos

- https://pandas.pydata.org/
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

#### Importando um conjunto de dados

- Lembre-se que o separador de um CSV pode ser diferente, neste caso, inclua delimiter = ";" em que ; deve ser substituído pelo separador
- Importe a os dados do arquivo olist_orders_dataset.csv em uma variável e exiba o seu conteúdo.
- Os dados podem ser baixados em: https://www.kaggle.com/olistbr/brazilian-ecommerce
- Todos os conjuntos de dados utilizados nos próximos exemplos estão associados aos dados da OlistBr

In [ ]:
#@title Ver exemplo
import pandas as pd

df = pd.read_csv('olist_orders_dataset.csv') #faz a leitura de uma planilha, dado o seu caminho
display(df) #exibe os resultados da planilha

In [26]:
import pandas as pd

df = pd.read_csv('olist_orders_dataset.csv')
display(df)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
11803,eb909cbbd3171dfb60b6827c2b431309,8005f7ee9e4e94db8a679ef78edd9b7c,delivered,2018-06-03 18:54:53,2018-06-05 04:15:15,2018-06-05 15:33:00,2018-06-14 22:52:31,2018-07-12 00:00:00
11804,d74d166d79f774ff367bfa387478155d,caef58b80b4d10cb35a11de8747584cb,delivered,2018-01-16 12:38:53,2018-01-16 12:52:47,2018-01-16 21:59:08,2018-01-19 20:11:51,2018-02-07 00:00:00
11805,f9fcece01e53f6127dfe56deebac3329,5fd6b9027602772efd65c36c7caaa790,delivered,2018-06-05 15:29:48,2018-06-05 15:48:55,2018-06-06 15:02:00,2018-06-14 13:47:43,2018-07-26 00:00:00
11806,5f766dfc65eff86be5b3015dbce0e2c6,f018b0b1208c22cf006962995d3caca8,delivered,2018-04-14 18:20:05,2018-04-14 18:31:18,2018-04-17 17:22:01,2018-04-24 01:04:53,2018-05-21 00:00:00
11807,d31ccf5695e6ca12b39b5b1f2eb7f6a6,de74037ebc271b8781a9b7d703924ac3,delivered,2017-09-06 19:21:53,2017-09-06 20:00:39,2017-09-15 19:16:53,2017-09-26 15:27:48,2017-10-02

#### Percorrendo um DataFrame

- Percorra um DataFrame, mostrando o 'customer_id' das 10 primeiras tuplas (linhas) da base de dados
- Dica: iterrows()

In [ ]:
#@title Ver exemplo
for index, row in df.iterrows(): #percorrer cada uma das linhas do DataFrame, acessando uma coluna específica para os dez primeiros elementos
    display(row['customer_id'])
    if index == 9:
      break

#### Extraíndo uma Serie do DataFrame
- Para acessar apenas uma coluna, extraindo uma Serie do DataFrame, utilize ['identificado_o_header_aqui']
- Caso precise ver quais os nomes dos 'Headers', imprima as chaves de seu DataFrame
- Importe o arquivo de dados olist_order_payments_dataset.csv em uma variável, exiba-o e em seguida, exiba somente a coluna 'payment_value'

In [ ]:
#@title Ver exemplo
df_payments = pd.read_csv("olist_order_payments_dataset.csv")
display(df_payments)

#para ver as chaves
print('\n\nNomes dos Headers\n\n',df_payments.keys(), "\n")

df_payments_payvalue = df_payments['payment_value']
display(df_payments_payvalue) ##temos apenas uma das colunas aqui!

#### Identificando valores únicos em uma Series

- Utilize os dados do conjunto olist_order_payments_dataset.csv (o mesmo do exemplo anterior) e demonstre os valores únicos para a coluna "payment_type""

In [ ]:
#@title Ver exemplo
import pandas as pd
df = pd.read_csv("olist_order_payments_dataset.csv")

print(df["payment_type"].unique())

#### Contando valores únicos em uma Series

- Utilize os dados do conjunto olist_order_payments_dataset.csv (o mesmo do exemplo anterior) e identifique a quantidade de elementos recorrentes (contagem) para a coluna "payment_type"

In [ ]:
#@title Ver exemplo
import pandas as pd
df = pd.read_csv("olist_order_payments_dataset.csv")

print(df["payment_type"].value_counts())

#### Algumas funções importantes para DataFrame/Series

Sr.No.|Function|Description|
------|--------|-----------|
1|count()|Number of non-null observations|
2|sum()|Sum of values|
3|mean()|Mean of Values|
4|median()|Median of Values|
5|mode()|Mode of values|
6|std()|Standard Deviation of the Values|
7|min()|Minimum Value|
8|max()|Maximum Value|
9|abs()|Absolute Value|
10|prod()|Product of Values|
11|cumsum()|Cumulative Sum|
12|cumprod()|Cumulative Product|
13|describe()|function computes a summary of statistics pertaining to the DataFrame columns.|

- Importe o conjunto de dados olist_order_payments_dataset.csv e utilize o método describe para a coluna 'payment_value'.

In [ ]:
#@title Ver exemplo
df_payments = pd.read_csv("olist_order_payments_dataset.csv")
df_payments_payvalue = df_payments['payment_value']

print('\nMédia:', df_payments_payvalue.mean())
print('\nDesvio Padrão:', df_payments_payvalue.std())
print('\nModa:', df_payments_payvalue.mode())
print('\nDados Estatísticos:', df_payments_payvalue.describe())

#### SubConjunto - Pandas
- Caso seja do seu interesse extrair um subconjunto de dados de um DataFrame, com base em uma regra, utilize os operadores relacionais

Operador|Descrição|
--------|---------|
==|igual|
!=|diferente|
>|maior|
<|menor|
>=|maior ou igual|
<=|menor ou igual|

- Crie um subconjunto de dados, contendo apenas os pagamentos realizados com "credit_card". Para isso, utilize o conjunto de dados olist_order_payments_dataset.csv

In [ ]:
#@title Ver exemplo
df_payments = pd.read_csv("olist_order_payments_dataset.csv")

regra = df_payments.payment_type == 'credit_card' #podemos gerar uma regra que "verificará" todo data frame
display('\nRegras\n',df_payments[regra])

#### Criando um DataFrame do zero

- Crie um dataframe do zero (neste exemplo vamos usar um dicionário)

In [ ]:
#@title Ver exemplo
import pandas as pd 
  
# inicializando as listas
dados = [
    ['Marge', 10], 
    ['Bart', 5.5], 
    ['Lisa', 9.5]
]  #cada elemento da lista é uma lista com todos os dados da "linha"
cabecalho = ['Nome', 'Nota'] #titulos das colunas
  
# Create the pandas DataFrame 
df = pd.DataFrame(data = dados, columns = cabecalho) #neste caso, como esta não é a ordem correta dos parâmetros, podemos "forçar seu nome"
  
# print dataframe. 
display(df)

#Extra! Criando uma planilha do excel com estes dados
df.to_excel('alunos_notas.xlsx',index = False) 

#Extra! Criando uma planilha csv com estes dados
df.to_csv('alunos_notas.csv', index = False) #remove o indice

#Extra! Criando uma planilha csv com estes dados
df.to_csv('alunos_notas_2.csv', index = True) #não remove o indice

regras = df.Nota >= 6.0
display(df[df.Nota >= 6.0])

### Bibliotecas - Gráfica (Matplotlib)

- Utulize um conjunto de listas para plotar um gráfico utilizando a biblioteca MatPlotLib

In [ ]:
#@title Ver exemplo
import matplotlib.pyplot as plt

medias = [5.4, 6.7, 5.2, 8.5, 9.5]
anos = list(range(2016, 2021))

plt.plot(anos, medias)
plt.show()